// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Rubik", sans-serif;
$font-family-secondary: "Oswald", sans-serif;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$line-height-base: 1.6;

$primary: #1f7d5d;
